* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inter;
}
body {
  background: #000000;
  color: #ffffff;
}
h2 {
  font-size: 48px;
  font-weight: 900;
}
.box-size {
  width: 1060px;
  margin: 0 auto;
}
@media only screen and (max-width: 393px) {
  .box-size {
    max-width: 393px !important;
    margin: 0 auto;
  }
  h2 {
    font-size: 31px !important;
  }
  p {
    width: 350px;
  }
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff80;
}
@font-face {
  font-family: miama;
  src: url(fonts/Miama.ttf);
}
/* header section */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 57px;
}
.header-main {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-style: italic;
  font-size: 36px;
  font-weight: 800;
  color: #e6533c;
}
.header-nav {
  padding: 4px;
  border: 1px solid #ffffff10;
  border-radius: 39px;
  display: flex;
  align-items: center;
}
.nav-ul {
  display: flex;
  gap: 47px;
  align-items: center;
}
.nav-ul > li {
  list-style: none;
}
.nav-ul > li > a {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.active {
  background: #e6533c;
  padding: 8px 20px 8px 20px;
  border-radius: 47px;
  height: 38px;
  width: 92px;
}
.last-list-item {
  padding: 0 20px;
}
/* Hero Section */
.hero-section {
  width: 100%;
  background-image: linear-gradient(180deg, #77777700 0%, #111111 100%);
}

.hero-container-div {
  height: 715px;
  display: flex;
  justify-content: space-between;
}

.hero-left-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  margin-top: 90px;
}

.hero-right-image {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.hero-right-side {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
}
.hero-heading {
  font-size: 78px;
  color: #fff;
  line-height: 1.2;
}
.hero-height-text {
  font-family: Miama;
  font-weight: 400;
  font-style: italic;
}
.hero-body-text {
  width: 520px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #ffffff80;
}
.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.hero-buttons button {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 224px;
  height: 54px;
  border-radius: 42px;
  cursor: pointer;
}

.hero-join-buttons {
  background: #e6533c;
  border: none;
}

.hero-quote-buttons {
  background: none;
  border: 1px solid #fff;
}

.equipment-container {
  position: absolute;
  top: 140px;
  left: 250px;
  width: 193px;
  height: 98px;
  background: #ffffff3a;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}
.total-equipment {
  font-size: 13px;
  font-weight: 400;
  color: #ffffffa6;
}

.video-tutorial {
  position: absolute;
  top: 420px;
  left: -100px;
  width: 206px;
  height: 96px;
  background: #3030308a;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.trainer-circle {
  width: 40px;
  height: 40px;
  background: #e6533c;
  border-radius: 50px;
}
.total-trainer-number {
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
}
.total-trainer {
  font-size: 16px;
  font-weight: 400;
  color: #efede8a6;
}

/* Habit Section */
.change-your-habits {
  width: 100%;
}

.habit-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: center;
}
.habit-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  text-align: center;
}

.habit-body-text {
  margin-top: 14px;
}

.habits-cards {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.card-img {
  height: 180px;
  width: 180px;
  border: 5px solid #ffffff1a;
  border-radius: 50%;
  object-fit: cover;
}
.habit-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.habit-card-heading {
  font-size: 18px;
  font-weight: 600;
}
.habit-card-text {
  font-size: 14px;
  color: #ffffff80;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.3px;
  display: flex;
  margin-top: 6px;
}
/* Run Extra Section */
.run-extra-section {
  width: 100%;
}

.run-extra-div {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background: #222222;
  padding: 30px;
  border-radius: 18px;
  gap: 40px;
  align-items: center;
}
.run-extra-left-side {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}
.run-extra-left-side button {
  padding: 16px 40px;
  background: #e6533c;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 224px;
  height: 54px;
  border-radius: 42px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}

.run-extra-img {
  width: 366px;
  height: 312px;
  object-fit: cover;
  border-radius: 18px;
}
.run-extra-heading {
  margin-bottom: 14px;
}
.run-extra-text {
  color: #ffffff80;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
/* Excercise section */
.exercise-section {
  width: 100%;
}

.exercise-div {
  width: 100%;
  margin-top: 100px;
}
.exercise-top-header {
  font-size: 48px;
  font-weight: 900;
}
.exercise-top-text {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff80;
  margin-top: 14px;
}
.excercise-bottom {
  width: 100%;
  margin-top: 50px;
}
.exercise-img-card {
  width: 100%;
}
.exercise-img-row-1,
.exercise-img-row-2 {
  display: grid;
}
.exercise-img-row-1 {
  grid-template-columns: 250px 520px 290px;
  grid-template-rows: 201.5px;
}
.exercise-img-row-2 {
  grid-template-columns: 425px 288px 347px;
  grid-template-rows: 201.5px;
}

.image-grid-item1 {
  background: url(images/exercise1.jpg);
}
.image-grid-item2 {
  background: url(images/exercise2.png);
}
.image-grid-item3 {
  background: url(images/exercise3.png);
}
.image-grid-item4 {
  background: url(images/exercise4.png);
}
.image-grid-item5 {
  background: url(images/exercise5.jpg);
}
.image-grid-item6 {
  background: url(images/exercise6.jpg);
}
.image-grid-item1,
.image-grid-item2,
.image-grid-item3,
.image-grid-item4,
.image-grid-item5,
.image-grid-item6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay1,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
}
.overlay1 p {
  color: #000000;
}
.overlay2 p,
.overlay3 p,
.overlay4 p,
.overlay5 p,
.overlay6 p {
  color: #fff;
}
.overlay1 {
  background: #06ffd280;
  align-items: end;
}
.overlay2 {
  background: #ff00004d;
}
.overlay3 {
  background: #00000080;
  align-items: end;
}
.overlay4 {
  background: #00000080;
  justify-content: end;
}
.overlay5 {
  background: #42ff004d;
  align-items: end;
}
.overlay6 {
  background: #0047ff4d;
  align-items: end;
}
/* BMI Calculator Section */
.bmi-calculator-section {
  width: 100%;
}

.bmi-calculator-div {
  width: 100%;
  margin-top: 100px;
}
.bmi-calculator-top {
  width: 671px;
  margin: 0 auto;
}
.bmi-calculator-top h2 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 14px;
}

.bmi-calculator-top p,
.bmi-calculator-right-top p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff80;
  padding-right: 30px;
  margin-top: 14px;
}
.bmi-calculator-bottom {
  margin-top: 50px;
  width: 100%;
  background: #222222;
  padding: 52px;
}
.bmi-calculator-bottom-container {
  height: auto;
}
.bmi-calculator-bottom-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.bmi-calculator-chart {
  width: 443px;
}
.bmi-chart-heading,
.bmi-calculator-right-top h3 {
  font-size: 28px;
  font-weight: 900;
}
.bmi-chart-heading {
  margin-bottom: 50px;
}
.bmi-calculator-chart table {
  width: 324px;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid #ffffff1a;
  padding: 15px 25px;
  text-align: left;
}
th {
  font-size: 16px;
  font-weight: 500;
}
td {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff80;
}
.bmi-calculate-container {
  width: 577px;
}
.bmi-calculator-right-div {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input,
select {
  box-sizing: border-box;
  margin-bottom: 12px;
  width: 49%;
  font-size: 16px;
  color: #ffffff99;
  font-weight: 400;
  outline: none;
  background: #ffffff1a;
  padding: 12px 40px 12px 20px;
  border: none;
  border-radius: 8px;
}
#activity {
  width: 100%;
}
option {
  font-size: 16px;
  font-weight: 400;
  color: #414141;
  background: hsla(0, 0%, 100%, 0.502);
}
option:hover {
  background: red;
}
input[type="button"] {
  margin: 34px 0 0 0;
  background: #e6533c;
  color: #ffffff;
  border-radius: 42px;
  padding: 16px 40px;
  cursor: pointer;
}

/* team member section */
.team-member-section {
  width: 100%;
}

.team-member-div {
  width: 100%;
  margin-top: 100px;
}

.team-member-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.team-member-top p {
  width: 670px;
}
.team-member-bottom {
  margin-top: 58px;
  background: #ffffff1a;
  padding: 20px;
  border-radius: 18px;
}
.team-member-cards {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 20px;
}
.team-member-img {
  height: 272px;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.team-member-card1,
.team-member-card2,
.team-member-card3,
.team-member-card4,
.team-member-card5,
.team-member-card6 {
  height: 272px;
  border-radius: 18px;
  background-position: center;
  background-size: cover;

  position: relative;
  overflow: hidden;
}

.team-member-card1 {
  background-image: url(images/trainer1.png);
}

.team-member-card2 {
  background-image: url(images/trainer2.png);
}

.team-member-card3 {
  background-image: url(images/trainer3.png);
}

.team-member-card4 {
  background-image: url(images/trainer4.png);
}

.team-member-card5 {
  background-image: url(images/trainer5.png);
}

.team-member-card6 {
  background-image: url(images/trainer6.png);
}
.team-member-img-overlay {
  top: 0;
  right: 0;
  position: absolute;
  padding: 20px;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #00000033;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
footer {
  width: 100%;
  background: #ffffff1a;
}

.footer-div {
  width: 100%;
  padding: 66px 0;
  display: flex;
  gap: 102px;
  justify-content: space-between;
}
.footer-item-right-div {
  width: 514px;
  display: flex;
  justify-content: space-between;
}
.footer-item-left {
  width: 443px;
}
.footer-item-left h2 {
  color: #e6533c;
  font-size: 70px;
  font-weight: 800;
  font-style: italic;
}
.footer-item-nav h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 39px;
}
.footer-item-nav nav ul li {
  list-style: none;
  font-size: 23px;
  font-weight: 400;
  color: #ffffff80;
}
.footer-item-nav nav ul li a {
  color: #ffffff80;
}
.footer-item-nav nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-container {
  margin-top: 100px;
}
hr {
  height: 2px;
  background-color: #ffffff1a;
  border: none;
}
.copyright-section p {
  color: #ffffff80;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}
.copyright-section {
  padding: 30px;
}

/* Responsive */
/* Header section */
@media only screen and (max-width: 393px) {
  .header-nav {
    display: none;
  }
  .header {
    width: 90%;
  }
  .fi-br-bars-staggered {
    font-size: 20px;
  }
  .mobile-nav-item {
    display: none;
    background: #a83e3e;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    z-index: 100000;
  }
  .mobile-nav-menu {
    padding: 30px;
  }
  .mb-nav-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mobile-nav-bar:hover > .mobile-nav-item {
    display: block;
  }
  .hero-section {
    width: 100%;
    display: flex;
  }
  .hero-body-text {
    width: 350px;
  }
  .hero-container {
    margin-top: 60px;
    width: 90%;
  }
  .hero-container-div {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
  .hero-heading {
    font-size: 36px;
  }
  .hero-body-text {
    font-size: 16px;
  }

  .hero-buttons button {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    width: 169px;
    border-radius: 42px;
    cursor: pointer;
  }
  .hero-right-side {
    margin-top: 50px;
  }
  .video-tutorial {
    top: 250px;
    left: 10px;
    width: 155px;
    height: 72px;
  }
  .trainer-circle {
    width: 30.24px;
    height: 30.24px;
  }
  .total-trainer-number {
    font-size: 18px;
    margin-bottom: 10px !important;
  }
  .total-trainer {
    font-size: 12px;
  }
  .hero-trainer-image {
    height: 490px;
    width: 353px;
    object-fit: cover;
    object-position: top;
  }
  .equipment-container {
    top: 50px;
    left: 190px;
    width: 145px;
    height: 74px;
  }

  .equipment {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .total-equipment {
    font-size: 10px;
  }

  /* Transform your Routine section */

  .habits-section {
    width: 90%;
  }
  .habits-cards {
    flex-direction: column;
  }
  .habit-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .run-extra-container {
    width: 90%;
  }
  .run-extra-div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .run-extra-img {
    width: 287px;
    height: 170px;
  }
  .run-extra-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
  }
  .run-extra-text {
    width: 100%;
  }
  .run-extra-left-side button {
    width: 100%;
  }
  .exercise-container {
    width: 90%;
  }
  .exercise-top-header {
    font-size: 32px;
  }
  .exercise-img-row-1 {
    grid-template-columns: 175px 178px;
    grid-template-rows: 128px;
  }

  .exercise-img-row-2 {
    grid-template-columns: 157px 196px;
    grid-template-rows: 128px;
  }
  .grid-display-none {
    display: none;
  }
  /* bmi Calculator */
  .bmi-calculator-top {
    width: 90%;
  }
  .bmi-calculator-bottom-div {
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .bmi-calculator-bottom {
    padding: 0;
  }
  .bmi-calculate-container {
    width: 90%;
  }
  .bmi-calculator-right-div {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  input,
  select {
    width: 100%;
  }
  .bmi-calculator-bottom-container {
    width: 393px;
  }
  .bmi-calculator-chart {
    width: 350px;
  }

  .bmi-calculator-chart table {
    width: 100%;
  }
  h3 {
    font-size: 16px !important;
  }
  .bmi-chart-heading {
    margin-bottom: 30px;
  }
  .bmi-calculator-right-top h3 {
    margin-top: 30px;
  }
  .team-member-top {
    width: 393px;
  }
  .team-member-top p {
    width: 350px;
  }
}

@media only screen and (min-width: 394px) {
  .mobile-nav-bar {
    display: none;
  }
}
